/*
  This file is part of Moodle - http://moodle.org/
  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
 * zebra theme css3 css file
 *
 * css declarations are by property, by browser in this order:
 * W3C Standard
 * Firefox 3.6+
 * Safari 4+
 * Safari 5.1+, Chrome 10+
 * Opera 11.1+
 * IE 10+
 *
 * Safari 4+ is not included in some gradient declarations as it doesn't support fixed heights in gradients
 * IE 6+ is not included as it doesn't support multi-point gradients, fixed height gradients, or box-shadows
 *
 * @package    theme_zebra
 * @copyright  2011 Danny Wahl
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 *
 * Table of Contents
 * $1.0: Content
 * $2.0: Custommenu
 * $3.0: Forum
 */

/* $1.0: Content */

.sitetopic,
.coursebox,
.block,
#dockeditempanel {
    background:linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
    background:-moz-linear-gradient(center top, [[setting:colorscheme]] 0%, transparent 15px) [[setting:columnbgcolor]];
    background:-webkit-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
    background:-ms-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
    box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
    -moz-box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
    -webkit-box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
}

#region-main {
    background:linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:contentbgcolor]];
    background:-moz-linear-gradient(center top, [[setting:colorscheme]] 0%, transparent 15px) [[setting:contentbgcolor]];
    background:-webkit-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:contentbgcolor]];
    background:-ms-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:contentbgcolor]];
    box-shadow:0 1px 0 [[setting:contentbgcolor]] inset;
    -moz-box-shadow:0 1px 0 [[setting:contentbgcolor]] inset;
    -webkit-box-shadow:0 1px 0 [[setting:contentbgcolor]] inset;
}

@media screen and (min-width:[[setting:twocolmin]]) {
    #region-pre,
    .side-post-only #region-post {
        background:linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
        background:-moz-linear-gradient(center top, [[setting:colorscheme]] 0%, transparent 15px) [[setting:columnbgcolor]];
        background:-webkit-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
        background:-ms-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
        box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
        -moz-box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
        -webkit-box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
    }
}

@media screen and (min-width:[[setting:threecolmin]]) {
    #region-post {
        background:linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
        background:-moz-linear-gradient(center top, [[setting:colorscheme]] 0%, transparent 15px) [[setting:columnbgcolor]];
        background:-webkit-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
        background:-ms-linear-gradient(top, [[setting:colorscheme]] 0%,transparent 15px) [[setting:columnbgcolor]];
        box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
        -moz-box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
        -webkit-box-shadow:0 1px 0 [[setting:columnbgcolor]] inset;
    }
}

/* $2.0: Custommenu */

#custommenu {
    text-shadow:0 1px 0 [[setting:fontcolor]];
}

#navbar-wrapper,
#page-content-wrapper {
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    background-clip:padding-box;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background:linear-gradient(top, [[setting:menucolorscheme]] 0%,transparent 66%) [[setting:linkcolor]];
    background:-moz-linear-gradient(center top , [[setting:menucolorscheme]] 0%, transparent 66%) [[setting:linkcolor]];
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,[[setting:menucolorscheme]]),color-stop(66%,transparent)) [[setting:linkcolor]];
    background:-webkit-linear-gradient(top, [[setting:menucolorscheme]] 0%,transparent 66%) [[setting:linkcolor]];
    background:-ms-linear-gradient(top, [[setting:menucolorscheme]] 0%,transparent 66%) [[setting:linkcolor]];
    box-shadow: 0 1px [[setting:linkcolor]] inset, 0 2px [[setting:menucolorscheme]] inset, 0 -1px [[setting:linkcolor]] inset;
    -moz-box-shadow: 0 1px [[setting:linkcolor]] inset, 0 2px [[setting:menucolorscheme]] inset, 0 -1px [[setting:linkcolor]] inset;
    -webkit-box-shadow: 0 1px [[setting:linkcolor]] inset, 0 2px [[setting:menucolorscheme]] inset, 0 -1px [[setting:linkcolor]] inset;
}

#custommenu .home {
    border-radius:5px 0 0 0;
    -moz-border-radius:5px 0 0 0;
    -webkit-border-radius:5px 0 0 0;
    background-clip:padding-box;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
}

/* No home link */
.no_homeicon #custommenu .first-of-type li:first-of-type .yui3-menu-label-active  {
    border-radius: 5px 0 0 0; /* Preserve the border-radius on the first li when no home icon */
}

#custommenu .calendar {
    background:linear-gradient(top, [[setting:menucolorscheme]] 0%,transparent 66%) [[setting:fontcolor]];
    background:-moz-linear-gradient(center top , [[setting:menucolorscheme]] 0%, transparent 66%) [[setting:fontcolor]];
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,[[setting:menucolorscheme]]),color-stop(66%,transparent)) [[setting:fontcolor]];
    background:-webkit-linear-gradient(top, [[setting:menucolorscheme]] 0%,transparent 66%) [[setting:fontcolor]];
    background:-ms-linear-gradient(top, [[setting:menucolorscheme]] 0%,transparent 66%) [[setting:fontcolor]];
    box-shadow: 0 1px [[setting:fontcolor]] inset, 0 2px [[setting:menucolorscheme]] inset, 0 -1px [[setting:fontcolor]] inset;
    -moz-box-shadow: 0 1px [[setting:fontcolor]] inset, 0 2px [[setting:menucolorscheme]] inset, 0 -1px [[setting:fontcolor]] inset;
    -webkit-box-shadow: 0 1px [[setting:fontcolor]] inset, 0 2px [[setting:menucolorscheme]] inset, 0 -1px [[setting:fontcolor]] inset;
    border-radius:0 5px 0 0;
    -moz-border-radius:0 5px 0 0;
    -webkit-border-radius:0 5px 0 0;
    background-clip:padding-box;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
}

#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menuitem-active,
#custommenu .calendar:hover,
#custommenu .home:hover {
    background:linear-gradient(top, [[setting:menucolorscheme]] 0%, rgba(0,0,0,0.3) 100%) [[setting:hovercolor]]!important; /* Override Base Sheet "Core" Line 607 */
    background:-moz-linear-gradient(center top, [[setting:menucolorscheme]] 0%, rgba(0,0,0,0.3) 100%) [[setting:hovercolor]]!important;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,[[setting:menucolorscheme]]), color-stop(100%,rgba(0,0,0,0.3))) [[setting:hovercolor]]!important;
    background:-webkit-linear-gradient(top, [[setting:menucolorscheme]] 0%, rgba(0,0,0,0.3) 100%) [[setting:hovercolor]]!important;
    background:-ms-linear-gradient(top, [[setting:menucolorscheme]] 0%, rgba(0,0,0,0.3) 100%) [[setting:hovercolor]]!important;
    box-shadow: 0 1px [[setting:hovercolor]] inset, 0 2px [[setting:menucolorscheme]] inset;
    -moz-box-shadow: 0 1px [[setting:hovercolor]] inset, 0 2px [[setting:menucolorscheme]] inset;
    -webkit-box-shadow: 0 1px [[setting:hovercolor]] inset, 0 2px [[setting:menucolorscheme]] inset;
}

/* $3.0: Forum */

.forumpost.unread .maincontent {
    box-shadow: 0 2px 3px [[setting:hovercolor]];
    -moz-box-shadow: 0 2px 3px [[setting:hovercolor]];
    -webkit-box-shadow: 0 2px 3px [[setting:hovercolor]];
}